#task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

#task-list ul {
    margin: 0;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    width: calc(100% - 1rem);
    list-style: none;
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: #ccc;
}